.countDownContainer {
    display: flex;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: var(--title);
}

.countDownContainer>div {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--white);
    box-shadow: 0 0 60px rba(0, 0, 0, 0.85);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;
}

.countDownContainer .countSpace {
    margin: 0 0.5rem;
    flex: 1;
    background: transparent;
}

.countDownContainer>div span:first-child {
    border-right: 1px solid #f0f1f3;
}

.countDownContainer>div span:last-child {
    border-left: 1px solid #f0f1f3;
}

.buttonCoutdown {
    border: 0;
    width: 100%;
    background: var(--blue-dark);
    color: var(--white);
    padding: 1.5rem 0;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.buttonCoutdown object {
    width: 35px;
    margin-left: 20px;
}

.buttonCoutdown:not(:disabled):hover {
    background: var(--green-dark);
}

.buttonCoutdownActive {
    background: var(--red);
    color: var(--white);
}

.buttonCoutdownActive img {
    fill: var(--white);
}

.buttonCoutdownActive:not(:disabled):hover {
    background: var(--red);
}

.buttonCoutdown:disabled {
    background: var(--title);
    border-bottom: 5px solid var(--green);
    color: var(--white);
    cursor: not-allowed;
}